.inspirationSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f7f7;
  overflow: hidden;
  padding-left: 150px;
  padding-block: 40px;
  margin-block: 40px;
}

.inspirationLeft {
  padding-right: 20px;
  max-width: 400px;
}

.inspirationRight {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.exploreButton {
  margin-top: 20px;
  background-color: #ff7f50;
  color: white;
}

.slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: contain;
  padding-left: 24px;
}

.slideCaption {
  position: absolute;
  bottom: 20px;
  left: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
  border-radius: 5px;
}

/* .slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff7f50 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  color: white;
} */

.slick-dots li button:before {
  font-size: 10px;
  color: #ff7f50;
}

.slick-dots li.slick-active button:before {
  color: #ff7f50;
  border: #ff7f50 solid 2px;
  border-radius: 50%;
}
